//@import "./blocks/header";
//@import "./blocks/footer";

.row {
  display: flex;
  width: 860px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 0 auto;
  justify-content: space-between;
}


