@import "./blocks/header";
@import "./blocks/footer";
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.top-section {
  display: flex;
  width: 860px;
  background-color: #d9d6d6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 200px;
}

.about-me{
  width: 60%;
  padding: 20px;
}
.profile-name{
  width: 40%;
  padding: 15px;

  display: flow;
  font-family: "Book Antiqua", "sans-serif";
}

.resume {
  display: flex;
  width: 900px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-section {
  width: 60%;
  padding: 20px;
  border-right: 2px solid #eee;

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }

  p {
    color: #666;
    line-height: 1.6;
  }

  .job-experience {
    margin-bottom: 20px;

    .job {
      margin-bottom: 15px;


      h3 {
        font-size: 18px;
        color: #333;
      }

      span {
        display: block;
        color: #777;
        font-size: 14px;
      }

      p {
        font-size: 14px;
        color: #555;
      }
    }
  }

  .skills ul, .language-hobbies ul {
    padding: 0;
    list-style-type: disc;

    li {
      font-size: 16px;
      color: #555;
      padding: 5px 5px;
    }
  }
}

.right-section {
  width: 40%;
  padding: 30px;
  background-color: #f9f9f9;

  .profile-pic {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 3px solid #eee;
    }
  }

  .contact-info, .education, .references {
    margin-bottom: 20px;

    h2 {
      font-size: 20px;
      margin-bottom: 10px;
      color: #333;
    }

    p, span {
      font-size: 14px;
      color: #555;
    }
  }
}
