//@import "./blocks/header";
//@import "./blocks/footer";

h1,h2,h3,p{
  color: #333333;
}
p{
  text-align: justify;
  font-weight: 350;
  font-size: 20px;
  color: #333333;
}

.container {
  background-color: #ebebeb;
  font-family: 'Poppins', 'sans-serif';
  max-width: 2000px;
  max-height: 1130px;
}

.my-row {
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 90px;
  margin: 0;


}
.about-me h1 {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: bold;
  display: inline-block;
  margin: 0 0 0 15px;
}
.about-me-label{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.my-name{
  text-align: center;

}
.my-name h1{
  font-size: 70px;
  font-weight: 800;
  margin: -30px 0 0;
  white-space: nowrap;

}
.my-name h2{
  margin: 0;
  font-size: 27px;
  font-weight: 380;
  letter-spacing: 1.5px;
}
.col-md-5{
  margin-left: 120px;
  max-width: 480px;
}

.job-label{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 15px;
}
.job-label h1{
  text-transform: uppercase;
  font-size: 35px;
  font-weight: bold;
  display: inline-block;
  margin: 0 0 0 15px;
}

.job-desc{
  display: flex;
  justify-content: space-between;
  span{
    font-weight: 500;
    font-size: 21px;
  }
}
.job-desc h3{
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 0 0;
}
.job-place-city{
  span{
    font-size: 20px;
  }
}
.row{
  margin-bottom: 25px;
}
.all-skills {
  display: flex;
  justify-content: space-between;
}

.skill-desc{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.skill-desc h6{
  font-size: 16px;
  font-weight: 460;
  margin: 0 20px 0 0;
}
#bar {
  width: 95px;
  height: 8px;
}

progress {
  appearance: unset;
  border-radius: 100px;
  border: 1px solid #333333;
  padding: 1px ;
  display: flex;
  align-items: center;
  justify-content: center;
}
progress::-webkit-progress-bar {
  background-color: #FFFFFF;
  border-radius: 100px;
  display: block;
}

progress::-webkit-progress-value {
  background-color: #333333;
  border-radius: 100px;
  display: block;
}

.language-n-hobby{
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
}
.language-desc{
  display: flex;
  align-items: unset;
}
.hobby{
  margin-right: 30px;
}
.list{
  display: inline-block;
  ul{
    margin: 0;
  }
}
.list li span{
  font-size: 22px;
  font-weight: 500;
}
.list li{
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 28px;
  font-weight: 550;
  margin-top: 0;
}
.contact-column{
    display: inline-block;
    margin-top: 220px;

}

.contact-column{
  h1,h2,h3, p{
  color: #FFFFFF;
  }
  h1{
    margin-bottom: 0;
  }
  h3{
    font-weight: 600;
    margin-bottom: 10px;
  }
  p{
    margin-bottom: 3px;
    margin-top: 0;
  }
}
.circle-container{
  position: absolute;
  top: -285px;
  left: -10px;
  display: flex;
  border-radius: 50%;
  border: 15px solid #FFFFFF;
  background: #ebebeb;
}
.image{
  width: 455px;
  height: 455px;
  border-radius: 50%;
  border: 10px solid #333333;
}

.contact-me{
  display: block;
  justify-content: center;
  margin-left: 50px;
}
.contact-pic{
  display: flex;
  align-items: center;
}
.contact-pic p{
  margin-left: 10px;
}
.education{
  margin-left: 50px;
  display: block;
  align-items: center;
  .job-label{
    margin-top: 25px;
  }
  .job-desc{
    margin-top: 10px;
  }
}

.education span{
  text-transform: uppercase;
  font-weight: 350;
  font-size: 18px;
  color: #FFFFFF;
}